

.add_button {
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 2px;
    margin: 6px;
}
.add_button:hover {
    background-color: rgb(100, 100, 100);
}
.add_button:active {
    background-color: rgb(50, 50, 50);
}

.circle_image_button {
    padding: 4px;
    border-radius: 50%;
}
.circle_image_button:hover {
    background-color: rgb(100, 100, 100);
}
.circle_image_button:active {
    background-color: rgb(150, 150, 150);
}