@import url("/fonts/stylesheet.css");

@import 'https://cdn.jsdelivr.net/npm/@vue-flow/core@1.41.2/dist/style.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/core@1.41.2/dist/theme-default.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/controls@latest/dist/style.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/minimap@latest/dist/style.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/node-resizer@latest/dist/style.css';

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section,
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, button,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;

}




html,
body,
#app {
  margin: 0;
  height: 100%;
}
.bl-box {
	background-color: rgba(34, 34, 34, 0.5);
}
.wh-box {
	background-color: rgb(34, 34, 34);
}

.main-border{
	border: 1px solid rgb(100, 100, 100);
}
#app {
	font-size: 100%;
	font-family: 'InterVariable';
	font-weight: 300;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
}

ttl {
	display: flex;
	padding: 6px;
	font-size: 28px;
	text-shadow: 2px 1px 4px white;

}

txt {
	display: flex;
	padding: 5px;
	font-size: 18px;

}

formCont{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;


	form{
		width: 100%;
	}
}
inpBox{
	display: flex;
	width: 100%;
	padding: 4px;
	border-radius: 8px;
	

	.input {
		height: 100%;
	}
}

input {
	display: flex;
	
    /* width: 100%; */
    /* height: 100%; */
    font-size: 16px;
    border: none;
    /* border-bottom: 1px solid rgb(100, 100, 100); */
	/* margin: 10px; */
	
    color: aliceblue;

    background-color: rgba(0, 0, 0, 0);
}

.task_form {
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 8px;
    margin-top: 12px;
}


button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 18px;
	padding: 2px;
	margin: 6px;
}
button:hover {
	background-color: rgb(100, 100, 100);
}
button:active {
	background-color: rgb(150, 150, 150);
}


.vue-flow__minimap {
  transform: scale(75%);
  transform-origin: bottom right;
}


.basic-flow.dark .vue-flow__node {
    background:#4a5568;
    color:#fffffb
}

.basic-flow.dark .vue-flow__node.selected {
    background:#333;
    box-shadow:0 0 0 2px #2563eb
}

.basic-flow .vue-flow__controls {
    display:flex;
    flex-wrap:wrap;
    justify-content:center
}

.basic-flow.dark .vue-flow__controls {
    border:1px solid #FFFFFB
}

.basic-flow .vue-flow__controls .vue-flow__controls-button {
    border:none;
    border-right:1px solid #eee
}

.basic-flow .vue-flow__controls .vue-flow__controls-button svg {
    height:100%;
    width:100%
}

.basic-flow.dark .vue-flow__controls .vue-flow__controls-button {
    background:#333;
    fill:#fffffb;
    border:none
}

.basic-flow.dark .vue-flow__controls .vue-flow__controls-button:hover {
    background:#4d4d4d
}

.basic-flow.dark .vue-flow__edge-textbg {
    fill:#292524
}

.basic-flow.dark .vue-flow__edge-text {
    fill:#fffffb
}