article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section,
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, button,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: genfont;
	color: white;
	vertical-align: baseline;
    display: flex;

}


/* html {
	
} */



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@font-face {
	font-family: genfont;
	src: url("/fonts/evil.otf");
}


body {
	
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(-45deg, #aa2800, #000000, #0f0044, #6a008a);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
	height: 100vh;
}
app {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	pointer-events: all;
	font-family: genfont;
}

ttl {
	display: flex;
	padding: 6px;
	font-size: 28px;
	font-weight: 200;
	text-shadow: 2px 1px 4px white;
	font-family: genfont;
}

txt {
	display: flex;
	padding: 5px;
	font-size: 18px;
	font-weight: 200;
	
	font-family: genfont;
	/* text-shadow: 0px 1px 1px white; */
}


formCont{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;


	form{
		width: 100%;
	}
}
inpBox{
	width: 100%;
	padding: 4px;
	border-radius: 8px;
}

input {
	display: flex;
    width: 100%;
    /* height: 100%; */
    font-size: 16px;
    border: none;
    /* border-bottom: 1px solid rgb(100, 100, 100); */
	/* margin: 10px; */
	
    color: aliceblue;

    background-color: rgba(0, 0, 0, 0);
}

.task_form {
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 8px;
    margin-top: 12px;
}


button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 18px;
	padding: 2px;
	margin: 6px;
}
button:hover {
	background-color: rgb(100, 100, 100);
}
button:active {
	background-color: rgb(150, 150, 150);
}




.bl-box {
	background-color: rgba(34, 34, 34, 0.5);
}
.wh-box {
	background-color: rgb(34, 34, 34);
}

.main-border{
	border: 1px solid rgb(100, 100, 100);
}