


.task-block {
    flex-direction: column;
    border-radius: 10px;
    margin: 12px;
    padding: 12px;
    width: 360px;
    max-height: 390px;
}
.task-block.dragging {
    opacity: 0.1;
}
.task_block_list {
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.task_block_list::-webkit-scrollbar {
    display: none;
}


.task-block-name {
    padding: 8px;
    justify-content: space-between;
    align-items: center;
}
